<div class="row justify-content-md-center wrapper-navbar animated fadeIn" >
  <div class="col-md-6">
    <h1>Cont&aacute;ctanos</h1>
    <div class="form-group wrapper-form">
      <input type="text" placeholder="Nombre" class="form-control wrapper-form">
      <input type="text" placeholder="Asunto" class="form-control wrapper-form">
      <textarea  cols="80" rows="10" placeholder="Descripción" class="form-control wrapper-form"></textarea>
      <button class="btn btn-info wrapper-form" (click)="contact()">contactar</button>
    </div>
  </div>
</div>