<nav class="navbar fixed-top navbar-expand-lg navbar-light animated bounceInDown" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">InnovaWeb</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['']">Inicio <i class="fa fa-home" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['about']">Nosotros <i class="fa fa-users" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['contact']">Contacto <i class="fa fa-envelope-o" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>