/*
    Elaborado por Daniel Garcia
*/

.footer{

    height: 50px; 
    width:100%; 
    position:relative; 
    bottom:-1px; 
    text-align: center;
}

.footer-text{
    width: 100%;
}
/*Alto del carrousel*/
.carousel-inner img {
    width: 100%;
    max-height: 460px;
}
.carousel-inner{
 height: 500px;
}

/*Separacion navbar*/
.wrapper-navbar{
    margin-top: 70px
}
li{
    list-style: none;
}
.wrapper-form{
    margin-top:20px;
}

.center-text{
    text-align: center;
}
